{% extends "bases/base.html" %}
{% load static %}

{% block 'title' %} Cadastro {% endblock %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/auth.css' %}">
{% endblock %}

{% block 'body' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md d-flex justify-content-cente">
                <div class="cont-cadastro">
                    <br><br>
                    <section class="cont-logo">
                        <label  class="text-logo">Dr.Lucas Matheus V.</label>
                    </section>
                    <hr>
                      
                    <form action="{% url 'cadastro' %}" method="POST"> 
                        {% csrf_token %}
                        <h2 class="fonte-destaque1">Cadastre-se</h2>
                        {% if messages %}
                            <br>
                            {% for message in messages %}
                                <section class="alert {{message.tags}}">
                                    {{message}}
                                </section>
                            {% endfor %}
                        {% endif %}
                        <br>
                        <div class="single-input">
                            <input required type="text" name="username" id="" class="input" >
                            <label for="">Username</label>
                        </div>
                        <div class="single-input"> 
                            <input required type="text" name="email" id=""  class="input">
                            <label for="">E-mail</label>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="single-input">
                                    <input required type="password" name="senha" class="input" >
                                    <label for="">Senha</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="single-input">

                                    <input required type="password" name="confirmar_senha" class="input"  id="">
                                    <label for="">Confirmar senha</label>
                                </div>
                            </div>
                        </div>
                        <br>

                        <input type="submit" value="Cadastrar" class="btn btn-success btn-dark-color">
                        <a href="{% url 'login' %}" class="btn btn-dark-color-outline">Já possuo uma conta</a>
                    </form>
                    
                </div>
            </div>
            <div class="col-md-5 bg-main d-flex justify-content-center align-items-center ">
                
            </div>
        </div>
    </div>

{% endblock %}