{% extends "bases/base.html" %}
{% load static %}

{% block 'title' %}  {% endblock %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'autenticacao/css/auth.css' %}">


{% endblock %}

{% block 'body' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md d-flex justify-content-cente">
            <div class="cont-cadastro">
                <br><br>
                <section class="cont-logo">
                    <label class="text-logo">
                        Dr.Lucas Matheus V.

                    </label>
                </section>
                <hr>
                
                <h1>Senha Redefinida com Sucesso!</h1>
                <p>Sua senha foi alterada com sucesso. Você pode agora fazer login com sua nova senha.</p>
                <a href="{% url 'login' %}"class="btn btn-success btn-lg">Ir para o Login</a>


            </div>
        </div>
        <div class="col-md-5 bg-main d-flex justify-content-center align-items-center ">
            
        </div>
    </div>
</div>


{% endblock %}