{% extends "bases/base.html" %}
{% load static %}

{% block 'title' %}  Recuperar {% endblock %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/auth.css' %}">

{% endblock %}

{% block 'body' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md d-flex justify-content-cente">
            <div class="cont-cadastro">
                <br><br>
                <section class="cont-logo">
                    <label class="text-logo">
                        Dr.Lucas Matheus V.

                    </label>
                </section>
                <hr>
                <form action="{% url 'password_reset' %}" method="POST">
                    {% csrf_token %}
                    <h2 class="fonte-destaque1"></h2>
                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <section class="alert {{message.tags}}">
                                {{message}}
                            </section>
                        {% endfor %}
                    {% endif %}
                    <h1 class="titulo font-degrade borda-bottom-degrade">Recuperar</h2><br>
                        <div class="single-input">
                            {{ form.email }}
                            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        </div>
                        <br>
                        <br>
                        <input type="submit" value="Recuperar" class="btn btn-success btn-lg">
                        {% if form.errors %}
                            {{form.errors}}
                        {% endif %}
            
                    
                </form>

            </div>
        </div>
        <div class="col-md-5 bg-main d-flex justify-content-center align-items-center ">
            
        </div>
    </div>
</div>



{% endblock %}